<a href="https://colab.research.google.com/github/Hari-Charan-Reddy-Veerannagari/innomatics-assignments/blob/master/mahindra-club-pre-processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import numpy as np 
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
data = pd.read_csv('./train_clubmahindra.csv')
data

,reservation_id,booking_date,checkin_date,checkout_date,channel_code,main_product_code,numberofadults,numberofchildren,persontravellingid,resort_region_code,...,state_code_residence,state_code_resort,total_pax,member_age_buckets,booking_type_code,memberid,cluster_code,reservationstatusid_code,resort_id,amount_spent_per_room_night_scaled
0,07659f3758d8aee27f5a7e2887adeacb67021cb95ada1b...,05/04/18,05/04/18,06/04/18,3,1,2,0,46,3,...,7.0,3,3,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,C,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,7.706428
1,03930f033646d073462b35d411616323597715ac4fc398...,23/01/15,11/04/15,16/04/15,1,1,2,0,46,3,...,7.0,5,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,A,39fa9ec190eee7b6f4dff1100d6343e10918d044c75eac...,6.662563
2,d145a32920e6587ad95bfe299d80c0affa268220535aaf...,28/01/15,01/02/15,05/02/15,1,1,2,0,47,1,...,7.0,1,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,E,A,535fa30d7e25dd8a49f1536779734ec8286108d115da50...,7.871602
3,cfd77f44811ed62f25a220b53324cdbafc662a4c9e5f04...,02/05/15,11/06/15,16/06/15,1,1,2,2,46,2,...,7.0,2,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,5.344943
4,937cff9e4dcfc2459620153dfc8b9962ac22bea67dfb29...,02/09/15,14/12/15,19/12/15,1,1,2,0,46,2,...,7.0,2,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,7.059346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341419,a804d59b74b1d532a90740ded80dd05873bbef125bc349...,11/02/19,27/02/19,01/03/19,2,2,4,0,47,1,...,8.0,1,2,I,1,0095e00c6dae789d37628bd85697e53c423231337994c4...,E,A,c6f3ac57944a531490cd39902d0f777715fd005efac9a3...,5.918087
341420,7062c92a631731e7189cf3dddb20aceeae91a883e14229...,27/02/19,28/02/19,01/03/19,2,4,2,0,45,1,...,10.0,1,2,D,1,42d7b97ad0d345da57a4010157729286418481f3d7ad24...,E,A,c75cb66ae28d8ebc6eded002c28a8ba0d06d3a78c6b5cb...,8.186771
341421,18a5668c302c321dc2d42a48923ceff97af633c66d72ee...,27/02/19,27/02/19,28/02/19,3,3,3,0,45,1,...,10.0,4,3,H,1,f393011a27daf3d1676417f48f44ad9ed3541285e71209...,F,A,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,8.381939
341422,1cbe1611a122023d7e994b4cf51fcf28ce44acdbcabbfb...,27/02/19,28/02/19,01/03/19,1,3,5,0,47,2,...,8.0,2,3,B,1,b14649c29eb050f4e9b69c7a3afb5dfa00d12dabfd2e40...,D,A,6208ef0f7750c111548cf90b6ea1d0d0a66f6bff40dbef...,8.856035
341423,8712dd3ce2e36f2fbcd16b24aa3b89bd1c5203a39e578b...,28/02/19,01/03/19,02/03/19,3,3,2,0,45,2,...,8.0,7,5,B,2,2a3936f649eb6af2167f41fb6f0cc9f352d142125f402f...,C,A,9400f1b21cb527d7fa3d3eabba93557a18ebe7a2ca4e47...,7.864627

removing columns which do not add any information

In [14]:
data.drop(columns= ['reservation_id', 'persontravellingid', 'memberid', 'reservationstatusid_code', 'resort_id'], inplace= True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341424 entries, 0 to 341423
Data columns (total 19 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   booking_date                        341424 non-null  object
 1   checkin_date                        341424 non-null  object
 2   checkout_date                       341424 non-null  object
 3   channel_code                        341424 non-null  int64
 4   main_product_code                   341424 non-null  int64
 5   numberofadults                      341424 non-null  int64
 6   numberofchildren                    341424 non-null  int64
 7   resort_region_code                  341424 non-null  int64
 8   resort_type_code                    341424 non-null  int64
 9   room_type_booked_code               341424 non-null  int64
 10  roomnights                          341424 non-null  int64
 11  season_holidayed_code               341310 non-null  float64
 12  state_code_residence                336660 non-null  float64
 13  state_code_resort                   341424 non-null  int64
 14  total_pax                           341424 non-null  int64
 15  member_age_buckets                  341424 non-null  object
 16  booking_type_code                   341424 non-null  int64
 17  cluster_code                        341424 non-null  object
 18  amount_spent_per_room_night_scaled  341424 non-null  float64
dtypes: float64(3), int64(11), object(5)
memory usage: 49.5+ MB