# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [ ]:
nums = [1, 2, 3, 4]
nums

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [ ]:
nums = [1, 2, 3, 4]
nums.pop(2)
nums

[1, 2, 4]

In [ ]:
# Method 2
nums = [1, 2, 3, 4]
nums.remove(3)
nums

[1, 2, 4]

In [ ]:
# Method 3
nums = [1, 2, 3, 4]
del nums[2]
nums

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [ ]:
lst = [2, 3, 4]
lst.insert(0, 1)
lst

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [ ]:
lst.insert(2, 'two-and-half')
lst

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [ ]:
phrase = "Don't panic!"
lst = [i for i in phrase]
lst

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

*convert into list*

`Question:` Remove ** '** and **!** in the list

In [ ]:
lst.remove("'")
lst.remove("!")

In [ ]:
lst

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [ ]:
lst.remove('p')
lst.remove('a') 
lst.remove('n')
lst.remove('D')

lst.extend(['p', 'a', 'n', 'D'])

In [ ]:
lst

['o', 't', ' ', 'n', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [ ]:
lst = ['p', 'a', 'n', 'D', 'a']

''.join(lst)

'panDa'

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [ ]:
nums = (31, 24, 35, 85)
print(f'{type(nums)}')
nums

<class 'tuple'>

(31, 24, 35, 85)

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [ ]:

lst = list(nums)
lst.remove(35)

nums = tuple(lst)
nums

(31, 24, 85)

**Extent** tuple (85,19)

In [ ]:
lst = list(nums)
lst.extend([85, 19])

nums = tuple(lst)
nums

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [ ]:
tpl = ('i', 'n', 'n', '0')
'i' in tpl

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [1]:
lst = ['Hello',100,[],'innomatics']
ind = lst.index([])
lst[ind] = [200]
lst

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [ ]:
# CODE HERE
tpl = ("Innomatics")
tuple([i for i in tpl[::-1]])

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [2]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [8]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

tpl[2] = tpl[2] + (100, )
tpl

[(10, 20, 40), (40, 50, 60), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [12]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

i = 0
while i < 3:
    tpl[i] = tpl[i][:-1] + (100, )
    i += 1

tpl

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [18]:
string = '5 2 3 6 6 5'
lst = string.split()
lst.sort()
print(f'second highest is : {lst[-2]}')

second highest is : 6

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [19]:
 lst = [12,24,35,70,88,120,155]
 lst = [i for ind, i in enumerate(lst) if ind not in (0, 4, 5)]
 lst

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [21]:
tup = (1,2,3,4,5,6,7,8,9,10)
print(tup[:len(tup)//2])
print(tup[len(tup)//2:])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [22]:
tup = (1,2,3,4,5,6,7,8,9,10)
tuple([i for i in tup if i%2 == 0])

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

list --> [] where as tuple --> ()
list is mutable where as tuple is immutable

### 2. Explain the difference between append() and extend() with examples

both the methods will add values at the end of the list but the difference is append is used to add a single value where as extend is used to add multipe values using anoter data structure

### 3. Explain the difference between pop() and remove() with examples

pop will delete and return the deleted value, remove will simply delete the value from list

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)