# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [13]:
person1 = {
    'Name' : 'John',
    'Gender': 'Male',
    'Occupatoin': 'Data Scientist',
    'Location': 'Nizampet, Hyderabad'
}

In [14]:
person1

{'Name': 'John',
 'Gender': 'Male',
 'Occupatoin': 'Data Scientist',
 'Location': 'Nizampet, Hyderabad'}

> print keys in person1 as a list

In [15]:
# CODE HERE

In [16]:
person1.keys()

dict_keys(['Name', 'Gender', 'Occupatoin', 'Location'])

> **`Question:` Remove Location in person1**

In [17]:
del person1['Location']

In [18]:
person1

{'Name': 'John', 'Gender': 'Male', 'Occupatoin': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [19]:
# CODE HERE

In [20]:
person2 = {
    'Name' : 'Raghu Ram',
    'Gender': 'Male',
    'Age': 25,
    'Occupatoin': 'Data Scientist'
}

In [21]:
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': 25,
 'Occupatoin': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [22]:
print(f'{"="*25} person1 {"="*25}')
print(person1)
print(f'{"="*25} person2 {"="*25}')
print(person2)

========================= person1 =========================
{'Name': 'John', 'Gender': 'Male', 'Occupatoin': 'Data Scientist'}
========================= person2 =========================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupatoin': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [23]:
d1 = {
    1:1,
    2:4,
    3:9,
    4:16,
    5:25,
    6:36,
    7:49
}

In [24]:
d1.pop(1)
d1

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [27]:
d1.popitem()
d1

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [28]:
del d1[5]
d1

{2: 4, 3: 9, 4: 16, 6: 36}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [40]:
d2 = {
    0:0, 1:1, 3:9, 5:25, 7:49, 9:81
}

In [41]:
d2 = dict(sorted(d2.items(), key = lambda x:x[1]))
d2

{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [ ]:
# CODE HERE

In [44]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }


dict1.update(dict2)
dict1.update(dict3)

dict1

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [46]:
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 6500}}

In [47]:
sample_dict['emp3']['salary'] = 8500

sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [48]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [49]:
sampleDict['class']['student']['marks']['history']

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [50]:
d = {'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [52]:
d['Area'] = d['Location']
del d['Location']
d

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet, Hyderabad'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [57]:
database = {'ram': '1234',
            'raghu': '5678',
            'kanav': '1357'}

username = input('username: ')
password = input('password: ')


try:
    if database[username] == password:
        print(f'Hello {username}')
    else:
        print('username and password does not match, shall I update the password')
        if( 'Y' == input()):
            database[username] = password
        print(database) 

except KeyError:
    print(f'{username} does not exist')

username: ram
password: 1234
Hello ram

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)