# IF , ELSE.... FOR LOOP

In [ ]:
import time
from datetime import date

> print this is hour in current minute is odd

In [ ]:
min = time.localtime().tm_min

print(f'minute: {min}')

if min%2 != 0:
    print('current min is odd')

minute: 53
current min is odd

> if today is satarday then print 'Party !!!' or if sunday print take rest other wise print work , work, work

In [ ]:
weekday = date.today().weekday()

if (weekday == 6 ):
    print('take rest')
elif weekday == 5:
    print('Party!!!')
else:
    print('work, work, work')

work, work, work

> Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
for i in range(2000, 3201):
    if i%7==0 and i%5!=0:
        print(i, end = ",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [ ]:
#CODE HERE

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

> Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [ ]:

result = 1
for i in range(1,9):
    result = result * i

print(result)

40320

> With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

*Hint* : use dict()

In [ ]:
d = dict()

for i in range(1,int(input('Enter the value: '))+1):
    d[i] = i*i

d

Enter the value: 8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

> create user defined fuction for 
- addition "add"
- subtraction "sub"
- multiplication "mul"
- division "div"
- power "pow"

In [ ]:
def add(a, b):
    return a+b

def sub(a, b):
    return a-b

def mul(a, b):
    return a*b

def div(a, b):
    return a/b

def pow(a, b):
    return a**b

a = int(input('Please enter the value :'))
b = int(input('Please enter the value :'))

operation = input('Enere the keyword {add, sub, mul, div, pow}: ')

if (operation == 'add'):
    result = (add(a, b))
elif(operation == 'sub'):
    result = (sub(a, b))
elif(operation == 'mul'):
    result = (mul(a, b))
elif(operation == 'div'):
    result = (div(a, b))
elif(operation == 'pow'):
    result = (pow(a, b))

print(f'{operation} of {a} and {b} is : {result}')

Please enter the value :8
Please enter the value :6
Enere the keyword {add, sub, mul, div, pow}: pow
pow of 8 and 6 is : 262144

### Write a Python program that accepts a string and calculate the number of digits and letters.
- Input

    - Hello321Bye360
- Output

    - Digit - 6

    - Letter - 8

In [ ]:
# CODE HERE
word = input("ENter the text: ")

digit = 0
letter = 0
for i in word:
    if i.isnumeric():
        digit = digit + 1
    else:
        letter = letter + 1

print(f'Digit - {digit}')
print(f'Letter - {letter}')

ENter the text: Hello321Bye360
Digit - 6
Letter - 8

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [4]:
# METHOD - 1
tup  = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

for i in tup[:len(tup)//2]:
    print(i, end = ' ')
print()
for i in tup[len(tup)//2:]:
    print(i, end = ' ')

1 2 3 4 5
6 7 8 9 10

In [6]:
# METHOD - 2
tup[:len(tup)//2], tup[len(tup)//2:]

((1, 2, 3, 4, 5), (6, 7, 8, 9, 10))

In [7]:
# METHOD - 3
print(list(tup[:len(tup)//2]))
print(list(tup[len(tup)//2:]))

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [8]:
tuple(filter(lambda x: x%2 == 0, tup))

(2, 4, 6, 8, 10)

### Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No"

In [9]:
text = input("Please type something. --> ")

if(text.lower() == 'yes'):
    print('Yes')
else:
    print('No')

Please type something. --> yes
Yes

### Please write a program to generate a list with 5 random numbers between 100 and 200 inclusive.

In [22]:
import random

rand_list = list()

for i in range(5):
    rand_list.append(random.randrange(100,201))

rand_list

[162, 194, 119, 171, 106]

### Please generate a random float where the value is between 5 and 95 using Python module.

In [32]:
import random

rand = random.random() * 10

while rand <5 or rand>95:
    rand = random.random() * 10

rand

6.627573937587904

### [1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
#### 1. from the above list print the uniques values
#### 2. count how many times each number exist
#### 3. Print the number which is occured more number of times

In [34]:
lst = [1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]


unique_values = set(lst)
unique_values

{1, 3, 4, 5, 6, 7, 8}

In [36]:
counts = dict()

for i in unique_values:
    counts[i] = lst.count(i)

counts

{1: 4, 3: 2, 4: 3, 5: 1, 6: 1, 7: 1, 8: 3}

In [41]:


sorted_count = sorted(counts.items(), key = lambda x: x[1], reverse = True)
sorted_count[0][0]

1

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)