# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**

volume = 4/3 pi $r ^3$

In [1]:
def vol(rad):
    return 4 * 3.14 * (rad**3)/3

___
**Write a function that checks whether a number is in a given range (Inclusive of high and low)**

In [5]:
def ran_check(num,low,high):
    if num >=low and num <= high:
        print('yes')
    else:
        print('no')

If you only wanted to return a boolean:

In [3]:
def ran_bool(num,low,high):
    return num >=low and num <= high

In [4]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [7]:
def up_low(s):
    upper_count = 0
    lower_count = 0
    for i in s:
        if i.isupper():
            upper_count = upper_count + 1
        elif i.islower():
            lower_count = lower_count + 1

    print(f'No. of Upper case characters : {upper_count}')
    print(f'No. of Lower case characters : {lower_count}')

In [8]:
up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

No. of Upper case characters : 4
No. of Lower case characters : 33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [9]:
def unique_list(l):
    return list(set(l))

In [10]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [11]:
def multiply(numbers):  
    mul = 1;
    for i in numbers:
        mul = mul * i
    return mul

In [12]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a passed string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [17]:
def palindrome(s):
    return s == s[::-1]

In [18]:
palindrome('helleh')

True

## Given a number N.Find Sum of 1 to N Using Recursion

In [19]:
# CODE HERE
def summation(n):
    sum = 0
    for i in range(1, n+1):
        sum = sum + i
    return sum


n = int(input())
sum = summation(n)
print(sum)

10
55

### Define a function which can generate and print a list where the values are square of numbers between 1 and 20

In [20]:
def printList():
    return [i*i for i in range(1, 21)]


printList()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

### Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [21]:
def printDict():
    squares = dict()
    for i in range(1,21):
        squares[i] = i*i

    print(squares.keys())


printDict()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

### Write a function that count the no of characters of the given input text
- input
    - innomatics research labs
    
- output
    - innomatics :10
    - research : 8
    - labs : 4

In [22]:
def print_count(s):
    for i in s.split():
        print(f'{i} : {len(i)}')

In [23]:
print_count('innomatics research labs')

innomatics : 10
research : 8
labs : 4

### Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

Using map() function

In [24]:
# CODE HERE
# No different way of code is written as the requirment is specificly mentioned in problem description

li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squaredNumbers = map(lambda x: x*x, li)

print(list(squaredNumbers))  # converting the object into list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].
##### using filter()

In [26]:

def even(x):
    return filter(lambda a : a%2 == 0, x)


def squer(x):
    return map(lambda a : a*a, x)


li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

li = even(li)
li = squer(li)

print(list(li))

[4, 16, 36, 64, 100]

### Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included)

In [27]:
# CODE HERE
def even(x):
    return x%2 == 0


evenNumbers = filter(even, range(1, 21))
print(list(evenNumbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### $f(n)=f(n-1)+f(n-2)$ if n>1

In [33]:
def f(n):
    if n > 1:
        return f(n-1) + f(n-2)
    elif n == 1:
        return 1
    else:
        return 0


n = int(input("Enter n value"))
print(f(n))

Enter n value7
13

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)