In [1]:
import pandas as pd

In [2]:
customer_data = pd.read_csv('customer.csv')
products_data = pd.read_csv('products.csv')
sales_data = pd.read_csv('sales.csv')

### Question.1

__a) List the products sold__

In [13]:
list(sales_data['product'].unique())

['Monitor', 'CPU', 'RAM']

__b).List of quantity sold against each product.__

In [24]:
sales_data.groupby(['product'])['qty'].sum()

product
CPU         1
Monitor    12
RAM         7
Name: qty, dtype: int64

__c).List of quantity and total sales against each product.__

In [50]:
sales_product_data = sales_data.merge(products_data, on='p_id', how='inner')

sales_product_data['total_sales'] = sales_product_data['price'] * sales_product_data['qty']

sales_product_data.groupby('product_x')['qty', 'total_sales'].sum()

<ipython-input-50-06324b3f2111>:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sales_product_data.groupby('product_x')['qty', 'total_sales'].sum()

           qty  total_sales
product_x
CPU          1           55
Monitor     12          900
RAM          7          630

__d).List of quantity sold against each product and against each store.__

In [37]:
sales_product_data \
    .groupby(['product_x', 'store'])['qty'].sum()

product_x  store
CPU        DEF       1
Monitor    ABC      10
           DEF       2
RAM        ABC       3
           DEF       4
Name: qty, dtype: int64

__e).List of quantity sold against each Store with total turnover of the store.__

In [39]:
sales_product_data \
    .groupby(['store'])['qty', 'total_sales'].sum()

<ipython-input-39-85219b2ea1f7>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sales_product_data \

       qty  total_sales
store
ABC     13         1020
DEF      7          565

__f)List of products which are not sold.__

In [49]:
products_data[~products_data['p_id'].isin(sales_data['p_id'])]['product']

0       Hard Disk
4        Keyboard
5           Mouse
6     Motherboard
7    Power supply
Name: product, dtype: object

__g)List of customers who have not purchased any product.__

In [48]:
customer_data[~ customer_data['c_id'].isin(sales_data['c_id'])]['Customer']

4    King
5    Ronn
6     Jem
7     Tom
Name: Customer, dtype: object

### 2nd Question. From cars data

a. From a dataframe show first and last five rows?
b. Find which car brand price is maximum?  
c. Find All "Nissan" Cars information’s?  
d. Let calculate total no. of cars per firm?
e. Find each brand’s highest price car?  
f. Find the average mileage of each car brand? 
g. Sort all cars by Price?

In [51]:
cars_data = pd.read_csv('Cars_Data.csv')

In [53]:
cars_data.head(5)

,index,brand,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [54]:
cars_data.tail(5)

,index,brand,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,mileage,price
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [58]:
cars_data[cars_data['brand'] == 'nissan'].describe()

           index  wheel-base      length  horsepower    mileage         price
count   5.000000     5.00000    5.000000    5.000000   5.000000      5.000000
mean   55.000000    95.68000  170.140000   82.800000  31.400000   8289.000000
std     1.581139     2.63856    8.357212   39.156098   9.208692   2924.337532
min    53.000000    94.50000  165.300000   55.000000  19.000000   6649.000000
25%    54.000000    94.50000  165.300000   69.000000  31.000000   6849.000000
50%    55.000000    94.50000  165.300000   69.000000  31.000000   7099.000000
75%    56.000000    94.50000  170.200000   69.000000  31.000000   7349.000000
max    57.000000   100.40000  184.600000  152.000000  45.000000  13499.000000

In [61]:
cars_data.groupby(['brand'])['brand'].count()

brand
alfa-romero      3
audi             4
bmw              6
chevrolet        3
dodge            2
honda            3
isuzu            3
jaguar           3
mazda            5
mercedes-benz    4
mitsubishi       4
nissan           5
porsche          3
toyota           7
volkswagen       4
volvo            2
Name: brand, dtype: int64

In [62]:
cars_data.groupby(['brand'])['price'].max()

brand
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

In [63]:
cars_data.groupby(['brand'])['mileage'].mean()

brand
alfa-romero      20.333333
audi             20.000000
bmw              19.000000
chevrolet        41.000000
dodge            31.000000
honda            26.333333
isuzu            33.333333
jaguar           14.333333
mazda            28.000000
mercedes-benz    18.000000
mitsubishi       29.500000
nissan           31.400000
porsche          17.000000
toyota           28.714286
volkswagen       31.750000
volvo            23.000000
Name: mileage, dtype: float64

In [67]:
cars_data.sort_values(by = ['price'])

,index,brand,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,mileage,price
13,16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
27,36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
36,49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
28,37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
...,...,...,...,...,...,...,...,...,...,...
11,14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
35,47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
22,31,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
23,32,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
47,63,porsche,hatchback,98.4,175.7,dohcv,eight,288,17,NaN