In [1]:
import pandas as pd

In [2]:
customer_data = pd.read_csv('customer.csv')
products_data = pd.read_csv('products.csv')
sales_data = pd.read_csv('sales.csv')

### Question.1

__a) List the products sold__

In [13]:
list(sales_data['product'].unique())

['Monitor', 'CPU', 'RAM']

__b).List of quantity sold against each product.__

In [24]:
sales_data.groupby(['product'])['qty'].sum()

product
CPU         1
Monitor    12
RAM         7
Name: qty, dtype: int64

__c).List of quantity and total sales against each product.__

In [50]:
sales_product_data = sales_data.merge(products_data, on='p_id', how='inner')

sales_product_data['total_sales'] = sales_product_data['price'] * sales_product_data['qty']

sales_product_data.groupby('product_x')['qty', 'total_sales'].sum()

<ipython-input-50-06324b3f2111>:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sales_product_data.groupby('product_x')['qty', 'total_sales'].sum()

           qty  total_sales
product_x
CPU          1           55
Monitor     12          900
RAM          7          630

__d).List of quantity sold against each product and against each store.__

In [37]:
sales_product_data \
    .groupby(['product_x', 'store'])['qty'].sum()

product_x  store
CPU        DEF       1
Monitor    ABC      10
           DEF       2
RAM        ABC       3
           DEF       4
Name: qty, dtype: int64

__e).List of quantity sold against each Store with total turnover of the store.__

In [39]:
sales_product_data \
    .groupby(['store'])['qty', 'total_sales'].sum()

<ipython-input-39-85219b2ea1f7>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sales_product_data \

       qty  total_sales
store
ABC     13         1020
DEF      7          565

__f)List of products which are not sold.__

In [49]:
products_data[~products_data['p_id'].isin(sales_data['p_id'])]['product']

0       Hard Disk
4        Keyboard
5           Mouse
6     Motherboard
7    Power supply
Name: product, dtype: object

__g)List of customers who have not purchased any product.__

In [48]:
customer_data[~ customer_data['c_id'].isin(sales_data['c_id'])]['Customer']

4    King
5    Ronn
6     Jem
7     Tom
Name: Customer, dtype: object

### 2nd Question. From cars data

a. From a dataframe show first and last five rows?
b. Find which car brand price is maximum?  
c. Find All "Nissan" Cars information’s?  
d. Let calculate total no. of cars per firm?
e. Find each brand’s highest price car?  
f. Find the average mileage of each car brand? 
g. Sort all cars by Price?